@import 'main.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Righteous');

html{

	background:  #122 url(https://wingolog.org/pub/background.svg) bottom right no-repeat;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	overflow-y: scroll;

}

body{

	background: none;
	line-height: 1.5;
	color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Righteous', cursive;
	margin-top: 0%;
}

p{
	margin-bottom: : 1rem;
}

p2{
	margin-top: 2rem;
	font-size: 20px;
	color: #82f3c6;
}

.navbar-brand, .navbar-nav>li>a{

	color: #f5f5f5;
	font-weight: bold;
}

.navbar-brand:hover{
	color: #f5f5f5;
	font-weight: bold;
	background: none;
}

.navbar-nav>li>a:hover{
	color: #f5f5f5;
	font-weight: bold;
	background: none;

}

.navbar-nav>li>a:after{
	content: '';
	margin-left: 30px;

}

.navbar-nav > li:last-child > a:after {
	content: '';
}

.navbar-toggle{
	background: #122;
}

.navbar-toggle .icon-bar{
	background: #f5f5f5;
}

@media (max-width: 768px){
	.navbar-nav>li>a:after{
		content: '';
	}

	.navbar-nav>li>a{
		background: #122;
		border-radius: 4px;
		margin-bottom: 3px;
	}


}

.container .jumbotron, .container-fluid .jumbotron{
	padding-left: 0;
	padding-right: 0;
}

.jumbotron{
	background: none;
	margin-top: 75px;
	margin-bottom: 75px;
}

.jumbotron h1{
	font-size: 120px;
}

.jumbotron .lead{
	font-size: 32px;
}

@media (max-width: 992px) {
	.jumbotron h1{
		font-size: 72px;
	}
}

@media (max-width: 768px) {
	.jumbotron h1{
		font-size: 40px;
	}

	.jumbotron .lead{
		font-size: 20px;
	}
}

.portfolio-title {
	padding: 10px 15px 10px 0;
	font-weight: bold;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background: #111;
	color: #f5f5f5;

}

.nav-pills a{
	color: #f5f5f5;
	margin-bottom: 1rem;
}

.nav>li>a:focus, .nav>li>a:hover{

	background: #275;

}

.portfolio-item{
	margin-left: 0rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
}

.portfolio-item img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 4px; 
}

.portfolio-item:hover img{
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}

.filterable-portfolio{
	margin-bottom: 3rem;
}

.site-footer span{
	margin-right: .5em;
}

.site-footer{
	margin-bottom: 3rem;
}

.posts {
	margin-bottom:  3rem;

}

.post {
	margin-bottom: 1rem;
}

.post img {

	border-radius: 4px;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
	margin-bottom: 1rem;
}

.post:hover img{
	-webkit-filter:grayscale(70%);
	filter: grayscale(70%);
}

.post-excerpt header h3{
	margin-bottom: .25rem;
}

a {
	color: #4e9af3;
}

.post-excerpt header a {
	color: #f5f5f5;
}

.post-excerpt header a:hover {
	text-decoration: none;
}

.post-excerpt .post-meta, .post-exceprt .post-meta a{
	color: #f5f5f5;
}

.post-excerpt .post-meta a{
	border-bottom: 1px dotted #111;
}

.post-excerpt .post-meta a:hover{
	color: #f5f5f5;
	border: 0;
}

.sidebar{
	margin-bottom: 1rem;
}

.sidebar p{
	color: #67f1c5;
}

.sidebar .widget{
	margin-bottom: 4rem;
}

.sidebar ul{
	padding: 0;
	list-style: none;
}

.sidebar li{
	margin-bottom: .5rem;
}

.sidebar li a {
	color: #67f1c5;
}

.sidebar li a:hover{
	text-decoration: none;
	border-bottom: 1px dotted #f5f5f5;
}

